## EDA

Необходимые импорты

In [9]:
import pandas as pd
import numpy as np

from data_load import raw_data_load

Загрузка исходных данных в датафреймы

In [10]:
train, test = raw_data_load()

Посмотрим на данные. 0 - нейтральный, 1 - позитивный, 2 - негативный

In [11]:
train.head(5)

   Unnamed: 0                                               text  sentiment
0       21098  .с.,и спросил его:  о Посланник Аллаха!Ты пори...          1
1       21099  Роднее всех родных Попала я в ГКБ №8 еще в дек...          1
2       21100  Непорядочное отношение к своим работникам Рабо...          2
3       21101  ). Отсутствуют нормативы, Госты и прочее, что ...          1
4       21102             У меня машина в руках 5 лет и это п...          1

Можно отбросить признак Unnamed: 0

In [12]:
train.drop(columns=["Unnamed: 0"], inplace=True)
test.drop(columns=["Unnamed: 0"], inplace=True)

In [13]:
train.describe()

          sentiment
count  189891.00000
mean        1.00248
std         0.72250
min         0.00000
25%         0.00000
50%         1.00000
75%         2.00000
max         2.00000

In [14]:
train.nunique()

text         181103
sentiment         3
dtype: int64

In [15]:
train.isnull().sum()

text         0
sentiment    0
dtype: int64

In [16]:
train['sentiment'].value_counts()

sentiment
1    90766
2    49798
0    49327
Name: count, dtype: int64

Видим - с данными все в порядке, пропусков нет. Отметим несбалансированность положительных 
примеров.